<p>Hi, <%= @user_to_full_name %>,</p>

<p>I hope you're well!</p>

<p><%= @user_requesting_promotion %> requested advice from you on how they can stand-out.
  <%= @user_requesting_promotion %>'s Backyard Lion profile is here: </p>

<p><%= @bitly %></p>

<p>Most sincerely, </p>
<p>Devan Moylan </p>
<p>Backyard Lion, CEO</p>

<p>ps: If you feel <%= @user_requesting_promotion %> is doing a great job, feel free to share their profile.</p>