Hi, <%= @user_full_name %>!<br/>
<p>A coach for <%= @sport %> at a <%= @division %> college has requested additional information: <%= @requested_info %>!

To fulfill their request, sign in using the link below. </p>
<p><%= link_to "Sign in", new_user_session_url, class: "btn btn-primary" %></p>

Thanks, <br/>
Devan Moylan <br/>
Backyard Lion CEO

