<div class="container finish-signup-show">
  <div class="finish-signup-div">
      <div class="col-md-12">
        <div class="content">
          <h3 class="main-header-txt">Set User Type</h3>
            <%= form_for(current_user, :as => 'user', :url => set_user_type_path(current_user), :html => { role: 'form'}) do |f| %>
                <% if @show_errors && current_user.errors.any? %>
                    <div id="error_explanation">
                      <% current_user.errors.full_messages.each do |msg| %>
                          <%= msg %><br>
                      <% end %>
                    </div>
                <% end %>
              <div class="form-group">
                <div class="col-sm-12" style="margin:4px 0; text-align: left;">
                  <label class="radio-inline" style="color: #fff;">
                    <%= f.radio_button(:user_type, "athlete") %> <span class="athl-text">I'm an Athlete</span>
                  </label>
                  <label class="radio-inline" style="color: #fff;">
                    <%= f.radio_button(:user_type, "coach") %><span class="athl-text">I'm a Coach</span>
                  </label>
                  <label class="radio-inline" style="color: #fff">
                    <%= f.radio_button(:user_type, "supporter") %><span class="athl-text">I'm a Supporter</span>
                  </label>
                </div>
              </div>
              <div class="actions" style="margin-top: 20px;padding-top: 46px;">
                <%= f.submit 'Continue', :class => 'btn btn-primary' %>
              </div>
          <% end %>
        </div>
      </div>
    </div>
  </div>
