<footer class="footer" id="footer">
    <div class="footer-container hidden-xs">
        <div class="row">
            <div style="text-align:center;">
                    <%= link_to "Home", home_path, class: "home", style: "color:#25215e;" %>  |
                    <%= link_to "About", about_path, class: "about", style: "color:#25215e;" %>  |
                    <%= link_to "Sign Up", new_user_registration_path, class: "home", style: "color:#25215e;" %>  |
                    <%= link_to "Login", new_user_session_path, class: "home", style: "color:#25215e;" %>  |
                    <%= link_to "Privacy Policy", privacy_path, class: "privacy", style: "color:#25215e;" %>  |
                    <%= link_to "Terms & Conditions", terms_and_conditions_path, class: "terms_and_conditions", style: "color:#25215e;" %>  |
                 
                    <i class = "fa fa-envelope"> </i>  support@backyardlion.com  |  
                    Backyard Lion Corporation © 2016 

                    <a href="https://www.facebook.com/backyardlionpage/"><i class="fa fa-facebook-official facebook-footer" aria-hidden="true"></i></a>

                    <a href="https://twitter.com/BackyardLion/"><i class="fa fa-twitter twitter-footer" aria-hidden="true"></i></a>
                
                <br/> 
                
                
                <!-- <p>A networking platform that connects high school athletes and college recruiters for free.</p><br> -->
                
            </div>

        </div>
    </div>
</footer>