<section class="main-section featured-athletics section-sliders" id="featured-athletes">
  <div class="container">
    <h2 class="dark-blue-color">Gaugestage Featured Athletes</h2>
    <h6 class="sect-sub-text">We recognize the best up-and-coming amateur athletes from around the world.</h6>
  </div>
  <div class="row">
    <div>
      <div class="col-md-4 col-sm-12">
        <div class="f-ath-inner">
          <div>
            <div>
              <a>
                <%= image_tag("blair.png", class: "f-ath-inner-img") %>
              </a>
            </div>
            <div>
              <a class="f-ath-name">Blair Garner
              </a>
              <!-- Include current team information -->
              <h4 class="f-spt-name">
                <span>Football</span>
              </h4>

              <h4 class="f-spt-name">
                <span>Quarterback</span>
              </h4>

              <h4 class="f-spt-name2">
                <span>Class of 2020</span>
              </h4>
              <p class = "f-ath-dt">A 2014 & 2015 All-American -- Future 4 runner-up for best middle school QB. Blair boosts advanced </p>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-4 col-sm-12">
        <div class="f-ath-inner">
          <div>
            <div>
              <a>
                <%= image_tag("davoan.png", class: "f-ath-inner-img") %>
              </a>
            </div>
            <div>
              <a class="f-ath-name">Davoan Hawkins
              </a>
              <!-- Include current team information -->
              <h4 class="f-spt-name">
                <span>Football</span>
              </h4>

              <h4 class="f-spt-name">
                <span>Defensive End</span>
              </h4>

              <h4 class="f-spt-name2">
                <span>Class of 2018</span>
              </h4>
              <p class = "f-ath-dt">Standing at 6'5" 260lbs, Davoan possesses rare athletic ability for his size and 9 scholarship offers to date. </p>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-4 col-sm-12">
        <div class="f-ath-inner">
          <div>
            <div>
              <a>
                <%= image_tag("cameron.png", class: "f-ath-inner-img") %>
              </a>
            </div>
            <div>
              <a class="f-ath-name">Cameron McGrone
              </a>
              <!-- Include current team information -->
              <h4 class="f-spt-name">
                <span>Football</span>
              </h4>

              <h4 class="f-spt-name">
                <span>Outside Linebacker</span>
              </h4>

              <h4 class="f-spt-name2">
                <span>Class of 2018</span>
              </h4>
              <p class = "f-ath-dt">The 2018 Grad's motor and stellar instincts led to his first scholarship offer from Syracuse. Likely the first of many offers. </p>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-4 col-sm-12">
        <div class="f-ath-inner">
          <div>
            <div>
              <a>
                <%= image_tag("bendu.png", class: "f-ath-inner-img") %>
              </a>
            </div>
            <div>
              <a class="f-ath-name">Bendu Yeany
              </a>
              <!-- Include current team information -->
              <h4 class="f-spt-name">
                <span>Basketball (W)</span>
              </h4>

              <h4 class="f-spt-name">
                <span>Point Guard</span>
              </h4>

              <h4 class="f-spt-name2">
                <span>Class of 2017</span>
              </h4>
              <p class = "f-ath-dt">A strong, athletic guard that is physical off the dribble and delivers results; scholarship offers (7) continue to come.</p>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-4 col-sm-12">
        <div class="f-ath-inner">
          <div class="media">
            <div>
              <a>
                <%= image_tag("miles.png", class: "f-ath-inner-img") %>
              </a>
            </div>
            <div>
              <a class="f-ath-name">Miles Jones
              </a>
              <!-- Include current team information -->
              <h4 class="f-spt-name">
                <span>Football</span>
              </h4>

              <h4 class="f-spt-name">
                <span>Running Back</span>
              </h4>

              <h4 class="f-spt-name2">
                <span>Class of 2018</span>
              </h4>
              <p class = "f-ath-dt">An electric, physical play maker that possesses a fantastic set of skills. First offer from Ole Miss just rolled in.</p>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-4 col-sm-12">
        <div class="f-ath-inner">
          <div class="media">
            <div>
              <a>
                <%= image_tag("marcus.png", class: "f-ath-inner-img") %>
              </a>
            </div>
            <div>
              <a class="f-ath-name">Marcus Johnson
              </a>
              <!-- Include current team information -->
              <h4 class="f-spt-name">
                <span>Football</span>
              </h4>

              <h4 class="f-spt-name">
                <span>Running Back</span>
              </h4>

              <h4 class="f-spt-name2">
                <span>Class of 2018</span>
              </h4>
              <p class = "f-ath-dt">The 2018 stand out's speed + big play ability generates positive exposure. Marcus is up to 6 D1 offers.</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="clearfix"></div>
  <div class="signup-wrapper">
    <a class="get-started-link">View More Athletes</a>
  </div>
</section>
