<div style="overflow:hidden;">
  <section>
    <%= render 'static_header' %>
  </section>
  <header class="hero" id="hero">
    <div class="container landing-page-form">
        <div class="row">
            <div class="col-md-8 col-md-offset-2 centered">
                <div class = "vp-hero-wrap">
                    <h1 style = "text-align:center;">ABOUT</h1>
                </div>
            </div>
        </div>
    </div>
  </header>
  <section class="main-section static-sections about-padding"><!--main-section-start-->
        <div class = "static-main-wrap">
            <h2 class="dark-blue-color">Want to play collegiate athletics?</h2> <br />
            <h6 class="sect-sub-text">Whether you are a freshman or senior, creating a Backyard Lion profile
            is a great opportunity to open new doors.</h6>
            <hr>
            <div class="row">
                <div class="col-lg-3 col-sm-6">
                    <div class="benefit-inner">
                        <%= image_tag('step1.png') %>
                        <h3>Grow and Promote</h3>
                        <p>Land your dream college by standing out to recruiters with your profile.</p>
                    </div>
                </div>
                <div class="col-lg-3 col-sm-6">
                    <div class="benefit-inner">
                        <%= image_tag('step2.png') %>
                        <h3>Use your Network</h3>
                        <p>Maximize your profile strength with endorsements and recommendations.</p>
                    </div>
                </div>
                <div class="col-lg-3 col-sm-6">
                    <div class="benefit-inner">
                        <%= image_tag('step3.png') %>
                        <h3>Unlock Opportunities</h3>
                        <p>Find and connect with recruiters looking for your skills.</p>
                    </div>
                </div>
                <div class="col-lg-3 col-sm-6">
                    <div class="benefit-inner">
                        <%= image_tag('step4.png') %>
                        <h3>Compare to Others</h3>
                        <p>See how you compare to other athletes and identify how to standout.</p>
                    </div>
                </div>
            </div>
          </div>
          </section>
            <div class="signup-wrapper">
                <section class="main-section features">
        <div class="container">
            <h2 style = "color:white;">College Recruiters <br/> Find the Perfect Recruit</h2>
            <hr>
            <div class="row">
                <article class="col-md-6 col-sm-6">
                    <div class="recruiting-tool-content">
                        <div class="row" style="margin-bottom: 30px;">
                            <div class="col-md-2 col-sm-2">
                                <%= image_tag('easy-search.png') %>
                            </div>
                            <div class="col-md-10 col-sm-10">
                                <h3>Easier Search</h3>
                                <p>Discover great athletes, faster. Use search functionality to zero-in on
                                    talented athletes
                                    who fit your needs. Finding athletes is simple and easy.</p>
                            </div>
                        </div>
                        <div class="row" style="margin-bottom: 30px;">
                            <div class="col-md-2 col-sm-2">
                                <%= image_tag('accurate-profile.png') %>
                            </div>
                            <div class="col-md-10 col-sm-10">
                                <h3>Accurate Profiles</h3>
                                <p>Gain instant insight on a recruit. Access detailed information, including: athletic,
                            
                                    and character endorsements. See where your athletes are located, their experiences, skills, recommendations and
                                    much
                                    more.</p>
                            </div>
                        </div>
                        <div class="row" style="margin-bottom: 30px;">
                            <div class="col-md-2 col-sm-2">
                                <%= image_tag('automatic-updates.png') %>
                            </div>
                            <div class="col-md-10 col-sm-10">
                                <h3>Automatic Updates</h3>
                                <p>Track athletes of interest. Keep up to date with accurate information at all times; including, when a recruit has a new accomplishment,
                                    highlight film
                                    or changes phone numbers.</p>
                            </div>
                        </div>
                        <div class="row" style="margin-bottom: 30px;">
                            <div class="col-md-2 col-sm-2">
                                <%= image_tag('instant-contact.png') %>
                            </div>
                            <div class="col-md-10 col-sm-10">
                                <h3>Instant Contact</h3>
                                <p>Reach out and contact top recruits directly.</p>
                            </div>
                        </div>
                    </div>
                </article>
                <figure class="col-md-6 col-sm-6">
                    <div class="recruiting-tool-wrapper">
                        <%= image_tag('features-tools3.png') %>
                    </div>
                </figure>
            </div>
            <hr>
        </div>
    </section>
              </div>
  <section><%= render "footer" %></section>
</div>
    