<div class="nested-fields">
  <div class="individual-experience-prof">
    <div class="form-group">
      <div class="row">
        <div class="col-md-4">
          Skill:<span class="required-field-asterick">*</span>
          <%= f.select :name, skills, {}, class: "form-control skill-select", id: "#{f.object.class.name}-#{f.index}"%>
        </div>
        <div class="col-md-3">
          Result:<span class="required-field-asterick">*</span>
          <%= f.text_field :skill_result, class: "form-control" %>
        </div>
        <div class="col-md-2">
          Units:<span class="required-field-asterick">*</span>
          <%= f.select :units, units, {}, class: "form-control unit-select", id: "skill-#{f.index}" %>
        </div>
      </div>
      <br>
      <div class="row">
        <div class="col-md-4">
          Year Achieved:
          <%= f.select :skill_result_year, options_for_select(2010..2016, selected: f.object.skill_result_year), {include_blank: true}, class: "form-control" %>
        </div>
      </div>
    </div>
    <div class="text-right"><%= link_to_remove_association "Remove Skill", f, class: "btn btn-danger" %></div>

  </div>
</div>