<h1>Backyard Lion Daily Summary for <%= Date.today %></h1>
<h3>New Users: <%= @user_count %></h3>
<h3>Aggregate of Athletes: <%= @athlete_profile_aggregate_count %></h3>
<h3>New Athletes: <%= @athlete_profile_count %></h3>
<h3>Invites Sent (E-mail Only): <%= @invite_count %></h3>
<h3>Number of new interests submitted by all users: <%= @interest_count %></h3>
<h3>Number of unsubscribes (cumulative -- this will keep getting bigger): <%= @unsubscribe_count %></h3>
<h3>Comment count (cumulative): <%= @comment_count %></h3>
<h3>Team validated & team_id: <%= @team_validated %></h3>
<h3>Team validated NO team_id: <%= @team_validated_no_id %></h3>